body {
    background-color: rgb(26, 130, 186);
    padding: 30px;
}

.library-header {
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 25px;
}

/* .main-info {
    background-color: rgb(26, 130, 186);
    padding: 30px;
} */

#form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    border-bottom: solid black;
    padding-bottom: 130px;
}

#book-read {
    position: relative;
    left: 75px;
    bottom: 42px;
    width: 200px;
}

.alignment {
    position: relative;
    top: 120px;
    right: 790px;
    gap: 30px;
}

label {
    display: flex;
    padding-bottom: 10px;
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 25px;
}

.input-container {
    position: relative;
    left: 200px;
}

#submit {
 position: relative;
 bottom: 40px;
 left: 145px;
 padding: 10px;
 border: none;
 width: 100px;
 cursor: pointer;
 border-radius: 20px;
 font-size: 15px;
 font-family: 'Rubik 80s Fade', cursive;
}

/* #book-container {
    background-color: #fff;
} */

.div-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    font-family: 'Rubik Vinyl', cursive;
}

.book-information {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Rubik 80s Fade', cursive;
    /* flex-direction: column; */
    border-bottom: solid black;
    font-size: 20px;
}

.number-of-pages {
    position: relative;
    left: 90px;
}

.read-btn {
    position: relative;
    left: 190px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 120px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Rubik Vinyl', cursive;
}

.delete-btn {
    position: relative;
    left: 100px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 120px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Rubik Vinyl', cursive;
}



